---
import { Image } from 'astro:assets';
import ProfileImage from 'src/assets/garin-photo-profile.png';
---

<div class="flex items-center justify-around">
    <div>
        Hi 👋<br />
        I'm Garin,<br />
        A self-taught Developer and Data Scientist<br />
    </div>
    <div class="w-80 rounded-md">
        <Image src={ProfileImage} alt="Garin Photo Profile" />
    </div>
</div>